body {
    margin: 0;
    background-color: #EDE9DA;
}

header {
    background-color: #fff;
}

footer {
    background-color: #fff;
}

.Tabla {
    
}

.Tabla a {
    text-decoration: none;
}

.Filas {
    border-width: 3px;
    border-style: solid;
    border-color: #000;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Objetos {
    border-width: 3px;
    border-style: solid;
    border-color: red;

    font-size: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100px;
}



table {
    font-size: 50px;
    text-align: center;
}

td {
    border-style: solid;
    border-color: #000;
    border-width: 3px;
}